<p>update-book works!</p>
<div class="col-md-6 offset-md-3">
  <h3>Update Book details</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Book Id:</label>
      <input type="text" id="id" class="form-control" [(ngModel)]="book.id" name="id">
    </div>
    <div class="form-group">
      <label>Book title:</label>
      <input type="text" id="title" class="form-control" [(ngModel)]="book.title" name="title">
    </div>
    <div class="form-group">
      <label>Book Author:</label>
      <input type="text" id="author" class="form-control" [(ngModel)]="book.author" name="author">
    </div>
    <button class="btn btn-success" type="submit">Update Data</button>
  </form>
</div>
