<p>book works!</p>
<h1>The list of books</h1>
<div class="container">
  <div class="card">

    <div class="card-body">
      <table border="1px" class="table">
        <thead>
          <th>Book ID</th>
          <th>Book Title</th>
          <th>Book Author</th>
          <th>User Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>
              <button (click)="updateBook(book.id)" class="btn btn-info">
                Update Info
              </button>
              <button (click)="updateBook(book.id)" class="btn btn-info">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
