<p>book-by-id works!</p>
<h1>Book: getById & DeleteById</h1>
<div class="container">
  <div class="card">

    <div class="card-body">
      <table border="1px" class="table">
        <thead>
          <th>Book ID</th>
          <th style="float:right">Actions</th>
          <!-- <th>Book Author</th> -->
        </thead>
        <tbody>
          <tr *ngFor="let b of books">
            <td>{{b.id}}</td>
            <!-- <td>{{b.title}}</td> -->
            <!-- <td>{{b.author}}</td> -->
            <td>
              <button (click)="deleteBook(b.id)" class="btn btn-info Delete"
                style="margin-left: 3px; float:right">Delete</button>
              <button (click)="bookDetail(b.id)" class="btn btn-info btn-detail"
                style="margin-left: 3px; float:right">Details</button>
            </td>
          </tr>
          <tr>
            <div *ngIf="book">
              <td>{{book.id}} - {{book.title}} - {{book.author}}</td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
